Repository bounswe/2021SpringGroup6, pull requests merged in 2021-12, with the labels that each got.

#277 Backend Event Participation
  back-end/sports_platform/sports_platform_api/models/event_models.py
  back-end/sports_platform/sports_platform_api/tests/test_create_event.py
  back-end/sports_platform/sports_platform_api/tests/test_participation.py
  back-end/sports_platform/sports_platform_api/urls.py
  back-end/sports_platform/sports_platform_api/validation/event_validation.py
  back-end/sports_platform/sports_platform_api/views/event_views.py
  back-end/sports_platform/sports_platform_api/views/user_views.py
Labels: Platform: Back-end, Priority: High, Status: Waiting Review

#299 Backend Fix Skill Level Check
  back-end/sports_platform/sports_platform_api/models/event_models.py
  back-end/sports_platform/sports_platform_api/tests/test_participation.py
  back-end/sports_platform/sports_platform_api/views/event_views.py
Labels: Type: Bug, Platform: Back-end

#300 Backend User Participation
  back-end/sports_platform/sports_platform_api/models/user_models.py
  back-end/sports_platform/sports_platform_api/tests/test_user_participation.py
  back-end/sports_platform/sports_platform_api/urls.py
  back-end/sports_platform/sports_platform_api/views/user_views.py
Labels: Platform: Back-end, Priority: Medium

#305 Add More Fields To Get User Events
  back-end/sports_platform/sports_platform_api/models/user_models.py
  back-end/sports_platform/sports_platform_api/tests/test_user_participation.py
Labels: Platform: Back-end

#303 Fix Reverse Geocoding
  back-end/sports_platform/sports_platform_api/models/event_models.py
Labels: Type: Bug, Platform: Back-end, Priority: High

#292 Initial form of the new event and search event pages.
  front-end/playground/package-lock.json
  front-end/playground/package.json
  front-end/playground/src/App.js
  front-end/playground/src/pages/NewEvent/NewEvent.css
  front-end/playground/src/pages/NewEvent/NewEvent.js
  front-end/playground/src/pages/PasswordReset/PasswordReset.css
  front-end/playground/src/pages/SearchPage/EventInfo.css
  front-end/playground/src/pages/SearchPage/EventInfo.js
  front-end/playground/src/pages/SearchPage/SearchPage.css
  front-end/playground/src/pages/SearchPage/SearchPage.js
  front-end/playground/yarn.lock
Labels: Type: Task, Status: Not Yet Started, Platform: Front-end, Priority: Medium

#326 Backend Badge Basics
  back-end/sports_platform/manage.py
  back-end/sports_platform/sports_platform_api/data/__init__.py
  back-end/sports_platform/sports_platform_api/data/badges.py
  back-end/sports_platform/sports_platform_api/models/__init__.py
  back-end/sports_platform/sports_platform_api/models/badge_models.py
  back-end/sports_platform/sports_platform_api/models/event_models.py
  back-end/sports_platform/sports_platform_api/models/user_models.py
  back-end/sports_platform/sports_platform_api/tests/test_badge.py
  back-end/sports_platform/sports_platform_api/urls.py
  back-end/sports_platform/sports_platform_api/validation/event_validation.py
  back-end/sports_platform/sports_platform_api/validation/user_validation.py
  back-end/sports_platform/sports_platform_api/views/__init__.py
  back-end/sports_platform/sports_platform_api/views/badge_views.py
  back-end/sports_platform/sports_platform_api/views/event_views.py
  back-end/sports_platform/sports_platform_api/views/user_views.py
Labels: Platform: Back-end, Priority: Medium, Status: Waiting Review

#323 Event search page
  front-end/playground/package-lock.json
  front-end/playground/src/pages/NewEvent/NewEvent.css
  front-end/playground/src/pages/NewEvent/NewEvent.js
  front-end/playground/src/pages/SearchPage/EventInfo.css
  front-end/playground/src/pages/SearchPage/EventInfo.js
  front-end/playground/src/pages/SearchPage/SearchPage.css
  front-end/playground/src/pages/SearchPage/SearchPage.js
Labels: Type: Task, Status: Not Yet Started, Platform: Front-end, Priority: High

#329 Front/activity stream
  front-end/playground/package-lock.json
  front-end/playground/package.json
  front-end/playground/public/index.html
  front-end/playground/public/squadgamegif_circle.gif
  front-end/playground/public/squadgamegif_circle_black.gif
  front-end/playground/src/App.css
  front-end/playground/src/App.js
  front-end/playground/src/PermanentComponents/Header.js
  front-end/playground/src/PermanentComponents/SidebarComponent.css
  front-end/playground/src/PermanentComponents/SidebarComponent.js
  front-end/playground/src/images/squadgamegif_circle.gif
  front-end/playground/src/images/squadgamegif_circle_black.gif
  front-end/playground/src/images/squadgamegif_circle_white.gif
  front-end/playground/src/images/squadgamegif_circle_white_2.gif
  front-end/playground/src/pages/ActivityStream/ActivityStream.css
  front-end/playground/src/pages/ActivityStream/ActivityStream.js
  front-end/playground/src/pages/ActivityStream/StreamCards.css
  front-end/playground/src/pages/ActivityStream/StreamCards.js
  front-end/playground/src/pages/Event/EventParticipationInfoPage/EventParticipationInfoPage.js
  front-end/playground/src/pages/Event/PersonalEvents/CardComponent.css
  front-end/playground/src/pages/Event/PersonalEvents/CardComponent.js
  front-end/playground/src/pages/Event/PersonalEvents/CreatedEvents.css
Labels: Type: Task, Platform: Front-end, Priority: High, Status: Waiting Review

#330 Modify event basic functionality is implemented
  front-end/playground/src/App.js
  front-end/playground/src/pages/Event/EventInformation/EventInformation.js
  front-end/playground/src/pages/Event/ModifyEvent/ModifyEvent.css
  front-end/playground/src/pages/Event/ModifyEvent/ModifyEvent.js
Labels: Type: Feature, Platform: Front-end, Priority: High, Status: Waiting Review

#331 view profile basic functionality is implemented
  front-end/playground/src/App.js
  front-end/playground/src/pages/Event/EventInformation/EventInformation.js
  front-end/playground/src/pages/profile/ProfileView.css
  front-end/playground/src/pages/profile/ProfileView.js
  front-end/playground/src/services/User.js
Labels: Type: Feature, Platform: Front-end, Priority: High, Status: Waiting Review

#379 Homepage layout is created
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/MVVMApplication.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/fragments/HomeFragment.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/viewmodels/HomeViewModel.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/viewmodels/HomeViewModelFactory.kt
  android/AndroidSportsPlatform/app/src/main/res/layout/fragment_home.xml
  android/AndroidSportsPlatform/app/src/main/res/values/dimens.xml
  android/AndroidSportsPlatform/app/src/main/res/values/strings.xml
  android/AndroidSportsPlatform/app/src/main/res/values/styles.xml
Labels: Type: Feature, Status: Complete, Priority: High

#380 Logged in user's participating(attending) events endpoint is integrated
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/MVVMApplication.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/data/api/UserApi.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/data/models/responses/UsersParticipatingEvents.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/data/repository/UserRepository.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/fragments/HomeFragment.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/util/Constants.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/viewmodels/AuthViewModel.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/viewmodels/AuthViewModelFactory.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/viewmodels/HomeViewModel.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/viewmodels/HomeViewModelFactory.kt
Labels: Status: Complete, Platform: Mobile, Priority: Medium

#393 Android - User logout operation is done
  android/AndroidSportsPlatform/.idea/misc.xml
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/data/api/UserApi.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/data/models/responses/ResponseMessage.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/data/models/responses/UserRegisterResponse.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/data/repository/UserRepository.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/fragments/HomeFragment.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/viewmodels/HomeViewModel.kt
  android/AndroidSportsPlatform/app/src/main/res/layout/activity_search_operations.xml
  android/AndroidSportsPlatform/app/src/main/res/layout/fragment_home.xml
  android/AndroidSportsPlatform/app/src/main/res/layout/fragment_tab_bar.xml
Labels: Platform: Mobile, Priority: High, Status: Waiting Review

#394 Retrieve Location Information From the User
  back-end/sports_platform/sports_platform_api/helpers/user_filter.py
  back-end/sports_platform/sports_platform_api/models/user_models.py
  back-end/sports_platform/sports_platform_api/validation/user_validation.py
Labels: Type: Feature, Platform: Back-end, Priority: Low, Status: Waiting Review

#395 Design for the searched users is done.
  android/AndroidSportsPlatform/.idea/misc.xml
  android/AndroidSportsPlatform/app/src/main/res/layout/fragment_search_user.xml
  android/AndroidSportsPlatform/app/src/main/res/layout/item_searched_user_layout.xml
  android/AndroidSportsPlatform/app/src/main/res/values/strings.xml
Labels: Type: Task, Platform: Mobile, Priority: Medium, Status: Waiting Review

#399 Discussion Related Endpoints
  back-end/sports_platform/sports_platform_api/models/event_models.py
  back-end/sports_platform/sports_platform_api/tests/test_discussion.py
  back-end/sports_platform/sports_platform_api/tests/test_get_event.py
  back-end/sports_platform/sports_platform_api/tests/test_search_event.py
  back-end/sports_platform/sports_platform_api/urls.py
  back-end/sports_platform/sports_platform_api/validation/event_validation.py
  back-end/sports_platform/sports_platform_api/views/event_views.py
Labels: Platform: Back-end, Priority: Medium, Status: Waiting Review

#400 Android create new event
  android/AndroidSportsPlatform/app/build.gradle
  android/AndroidSportsPlatform/app/src/debug/res/values/google_maps_api.xml
  android/AndroidSportsPlatform/app/src/main/AndroidManifest.xml
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/MVVMApplication.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/activities/MapsActivity.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/data/api/EventApi.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/data/models/requests/CreateEventRequest.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/data/models/responses/CreateEventResponse.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/data/repository/EventRepository.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/fragments/CreateEventFragment.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/fragments/HomeFragment.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/util/Constants.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/util/String.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/viewmodels/CreateEventViewModel.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/viewmodels/CreateEventViewModelFactory.kt
  android/AndroidSportsPlatform/app/src/main/res/layout/activity_maps.xml
  android/AndroidSportsPlatform/app/src/main/res/layout/fragment_create_event.xml
  android/AndroidSportsPlatform/app/src/main/res/values/strings.xml
  android/AndroidSportsPlatform/app/src/main/res/values/styles.xml
  android/AndroidSportsPlatform/app/src/release/res/values/google_maps_api.xml
  android/AndroidSportsPlatform/build.gradle
Labels: Type: Feature, Status: Complete, Platform: Mobile, Priority: High

#401 Android - User Search implementation is finished!
  android/AndroidSportsPlatform/.idea/misc.xml
  android/AndroidSportsPlatform/app/build.gradle
  android/AndroidSportsPlatform/app/src/main/AndroidManifest.xml
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/MVVMApplication.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/adapter/UserSearchAdapter.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/data/api/UserApi.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/data/models/requests/UserFilterRequest.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/data/models/requests/UserSearchRequest.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/data/models/responses/UserResponse.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/data/models/responses/UserSearchResponse.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/data/repository/UserRepository.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/fragments/SearchFragment.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/fragments/UserSearchFragment.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/viewmodelfactories/UserSearchViewModelFactory.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/viewmodels/SearchViewModel.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/viewmodels/UserSearchViewModel.kt
  android/AndroidSportsPlatform/app/src/main/res/layout/item_searched_user_layout.xml
Labels: Type: Feature, Platform: Mobile, Priority: High, Status: Waiting Review

#404 Android profile design and display user info
  android/AndroidSportsPlatform/.idea/misc.xml
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/MVVMApplication.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/adapter/TabBarPagerAdapter.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/data/api/UserApi.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/data/models/responses/UserResponse.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/data/repository/UserRepository.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/fragments/ProfileFragment.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/util/String.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/viewmodels/ProfileFragmentViewModel.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/viewmodels/ProfileFragmentViewModelFactory.kt
  android/AndroidSportsPlatform/app/src/main/res/drawable/bg_initials.xml
  android/AndroidSportsPlatform/app/src/main/res/drawable/bg_profile_information.xml
  android/AndroidSportsPlatform/app/src/main/res/layout/fragment_profile.xml
  android/AndroidSportsPlatform/app/src/main/res/values/dimens.xml
  android/AndroidSportsPlatform/app/src/main/res/values/strings.xml
  android/AndroidSportsPlatform/app/src/main/res/values/styles.xml
Labels: Type: Feature, Status: Complete, Platform: Mobile, Priority: Medium

#406 Android - Event Detail Page design and navigation
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/MVVMApplication.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/adapter/EventSearchAdapter.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/adapter/EventsListAdapter.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/adapter/UsersParticipatingEventsAdapter.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/fragments/EventDetailFragment.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/fragments/EventSearchFragment.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/fragments/HomeFragment.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/fragments/SearchFragment.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/viewmodelfactories/EventDetailViewModelFactory.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/viewmodels/EventDetailViewModel.kt
  android/AndroidSportsPlatform/app/src/main/res/drawable/bg_rounded_corner.xml
  android/AndroidSportsPlatform/app/src/main/res/layout/fragment_event_detail.xml
  android/AndroidSportsPlatform/app/src/main/res/layout/fragment_profile.xml
  android/AndroidSportsPlatform/app/src/main/res/layout/item_event_layout.xml
  android/AndroidSportsPlatform/app/src/main/res/layout/item_layout.xml
  android/AndroidSportsPlatform/app/src/main/res/values/styles.xml
Labels: Type: Feature, Status: Complete, Platform: Mobile, Priority: High

#413 Android Event Detail Page implementation finished
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/MVVMApplication.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/adapter/UsersAdapter.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/data/api/EventApi.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/data/models/Value.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/data/models/responses/AdditionalPropertyForKnowsAbout.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/data/models/responses/EventResponse.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/data/models/responses/UserResponse.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/data/repository/EventRepository.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/fragments/EventDetailFragment.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/fragments/EventSearchFragment.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/fragments/HomeFragment.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/util/String.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/viewmodelfactories/EventDetailViewModelFactory.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/viewmodels/EventDetailViewModel.kt
  android/AndroidSportsPlatform/app/src/main/res/drawable/bg_rounded_corner_stroked.xml
  android/AndroidSportsPlatform/app/src/main/res/layout/fragment_event_detail.xml
  android/AndroidSportsPlatform/app/src/main/res/layout/item_user_horizontal_layout.xml
  android/AndroidSportsPlatform/app/src/main/res/values/strings.xml
  android/AndroidSportsPlatform/app/src/main/res/values/styles.xml
Labels: Type: Feature, Status: Complete, Platform: Mobile, Priority: High
