Repository bounswe/2021SpringGroup6, pull requests merged in 2021-11, with the labels that each got.

#194 Front-End Project Structure Construction
  front-end/playground/.gitignore
  front-end/playground/README.md
  front-end/playground/package.json
  front-end/playground/public/favicon.ico
  front-end/playground/public/index.html
  front-end/playground/public/logo192.png
  front-end/playground/public/logo512.png
  front-end/playground/public/manifest.json
  front-end/playground/public/robots.txt
  front-end/playground/src/App.css
  front-end/playground/src/App.js
  front-end/playground/src/App.test.js
  front-end/playground/src/index.css
  front-end/playground/src/index.js
  front-end/playground/src/logo.svg
  front-end/playground/src/reportWebVitals.js
  front-end/playground/src/setupTests.js
  front-end/playground/yarn.lock
Labels: Type: Task, Status: Complete, Platform: Front-end, Priority: High

#201 Login Endpoint
  back-end/.gitignore
  back-end/sports_platform/requirments.txt
  back-end/sports_platform/sports_platform/urls.py
  back-end/sports_platform/sports_platform_api/controllers/__init__.py
  back-end/sports_platform/sports_platform_api/controllers/guest.py
  back-end/sports_platform/sports_platform_api/models/user_models.py
  back-end/sports_platform/sports_platform_api/tests/__init__.py
  back-end/sports_platform/sports_platform_api/tests/tests_login.py
  back-end/sports_platform/sports_platform_api/urls.py
  back-end/sports_platform/sports_platform_api/validation/generic_validators.py
  back-end/sports_platform/sports_platform_api/validation/user_validation.py
  back-end/sports_platform/sports_platform_api/views/user_views.py
Labels: Platform: Back-end, Priority: High, Status: Waiting Review

#213 Token Authentication
  back-end/sports_platform/sports_platform/settings.py
  back-end/sports_platform/sports_platform_api/tests/tests_login.py
  back-end/sports_platform/sports_platform_api/views/user_views.py
Labels: Platform: Back-end, Priority: High, Status: Waiting Review

#216 Add create_mock_user To Fix Test
  back-end/sports_platform/sports_platform_api/tests/tests_login.py
Labels: Platform: Back-end, Priority: Medium, Status: Waiting Review

#217 fix register tests
  back-end/sports_platform/sports_platform_api/tests/test_register.py
Labels: Platform: Back-end, Status: Waiting Review

#218 Create Logout Endpoint
  back-end/sports_platform/sports_platform/settings.py
  back-end/sports_platform/sports_platform_api/auth/__init__.py
  back-end/sports_platform/sports_platform_api/auth/error_handler.py
  back-end/sports_platform/sports_platform_api/tests/test_logout.py
  back-end/sports_platform/sports_platform_api/urls.py
  back-end/sports_platform/sports_platform_api/views/user_views.py
Labels: Platform: Back-end, Priority: High, Status: Waiting Review

#231 Fix Test Bugs
  back-end/sports_platform/sports_platform_api/tests/test_logout.py
  back-end/sports_platform/sports_platform_api/views/user_views.py
Labels: Type: Bug, Platform: Back-end, Priority: High

#229 Reset password users/recover
  back-end/sports_platform/sports_platform/settings.py
  back-end/sports_platform/sports_platform_api/controllers/guest.py
  back-end/sports_platform/sports_platform_api/tests/test_recover.py
  back-end/sports_platform/sports_platform_api/urls.py
  back-end/sports_platform/sports_platform_api/validation/user_validation.py
  back-end/sports_platform/sports_platform_api/views/user_views.py
Labels: Type: Feature, Platform: Back-end, Priority: Medium, Status: Waiting Review

#235 Password Reset Page
  front-end/playground/package.json
  front-end/playground/src/App.js
  front-end/playground/src/PasswordReset.css
  front-end/playground/src/PasswordReset.js
  front-end/playground/src/PermanentComponents/Header.css
  front-end/playground/src/PermanentComponents/Header.js
  front-end/playground/src/PermanentComponents/SidebarComponent.css
Labels: Type: Task, Status: In Progress, Platform: Front-end, Priority: High

#236 Follow Related Endpoints
  back-end/sports_platform/sports_platform_api/models/__init__.py
  back-end/sports_platform/sports_platform_api/models/user_models.py
  back-end/sports_platform/sports_platform_api/tests/test_follow.py
  back-end/sports_platform/sports_platform_api/urls.py
  back-end/sports_platform/sports_platform_api/validation/user_validation.py
  back-end/sports_platform/sports_platform_api/views/user_views.py
Labels: Type: Feature, Platform: Back-end, Priority: Medium, Status: Waiting Review

#245 Android login functionality
  android/AndroidSportsPlatform/.idea/vcs.xml
  android/AndroidSportsPlatform/app/build.gradle
  android/AndroidSportsPlatform/app/src/main/AndroidManifest.xml
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/MVVMApplication.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/MainActivity.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/PlatformListener.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/PlatformViewModel.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/data/Repository.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/data/UserApi.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/data/models/TokenResponse.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/data/models/UserRequest.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/util/ViewUtils.kt
  android/AndroidSportsPlatform/app/src/main/res/drawable/_51symbol.png
  android/AndroidSportsPlatform/app/src/main/res/layout/activity_main.xml
  android/AndroidSportsPlatform/app/src/main/res/layout/activity_signup.xml
  android/AndroidSportsPlatform/app/src/main/res/values/strings.xml
Labels: Type: Feature, Type: Task, Status: In Progress, Platform: Mobile, Priority: High

#242 Front/profile page
  front-end/playground/package-lock.json
  front-end/playground/package.json
  front-end/playground/public/index.html
  front-end/playground/public/squadgamelogo.svg
  front-end/playground/public/squadgamemasklogo.svg
  front-end/playground/src/App.css
  front-end/playground/src/App.js
  front-end/playground/src/PermanentComponents/Footer.css
  front-end/playground/src/PermanentComponents/Footer.js
  front-end/playground/src/PermanentComponents/Header.css
  front-end/playground/src/PermanentComponents/Header.js
  front-end/playground/src/PermanentComponents/SidebarComponent.css
  front-end/playground/src/PermanentComponents/SidebarComponent.js
  front-end/playground/src/PermanentComponents/SportNames.js
  front-end/playground/src/UserContext.js
  front-end/playground/src/images/squadgamegif.gif
  front-end/playground/src/index.js
  front-end/playground/src/pages/Login/Login.js
  front-end/playground/src/pages/Login/LoginComponents.css
  front-end/playground/src/pages/Login/LoginComponents.js
  front-end/playground/src/pages/PasswordReset/PasswordReset.css
  front-end/playground/src/pages/PasswordReset/PasswordReset.js
  front-end/playground/src/pages/Register/Register.js
  front-end/playground/src/pages/Register/RegisterComponents.css
  front-end/playground/src/pages/Register/RegisterComponents.js
  front-end/playground/src/pages/profile/Profile.css
  front-end/playground/src/pages/profile/Profile.js
Labels: Platform: Front-end, Priority: High, Status: Waiting Review

#262 Backend event database
  back-end/sports_platform/sports_platform_api/models/event_models.py
  back-end/sports_platform/sports_platform_api/validation/event_validation.py
Labels: Platform: Back-end, Priority: High, Status: Waiting Review

#263 Backend create event
  back-end/sports_platform/sports_platform_api/helpers/__init__.py
  back-end/sports_platform/sports_platform_api/helpers/geo.py
  back-end/sports_platform/sports_platform_api/models/__init__.py
  back-end/sports_platform/sports_platform_api/models/event_models.py
  back-end/sports_platform/sports_platform_api/tests/test_create_event.py
  back-end/sports_platform/sports_platform_api/urls.py
  back-end/sports_platform/sports_platform_api/validation/event_validation.py
  back-end/sports_platform/sports_platform_api/views/__init__.py
  back-end/sports_platform/sports_platform_api/views/event_views.py
Labels: Platform: Back-end, Priority: High, Status: Waiting Review
