Repository bounswe/2021SpringGroup6, pull requests merged in 2022-01, with the labels that each got.

#419 Check Participation Date
  back-end/sports_platform/sports_platform_api/models/event_models.py
  back-end/sports_platform/sports_platform_api/tests/test_participation.py
  back-end/sports_platform/sports_platform_api/views/event_views.py
Labels: Platform: Back-end, Priority: Low, Status: Waiting Review

#418 New badge request
  back-end/sports_platform/sports_platform_api/models/badge_models.py
  back-end/sports_platform/sports_platform_api/validation/badge_validation.py
  back-end/sports_platform/sports_platform_api/views/badge_views.py
Labels: Platform: Back-end, Priority: Low, Status: Waiting Review

#424 Update Spectating an Event Endpoint to allow more spectators than the capacity
  back-end/sports_platform/sports_platform_api/models/event_models.py
  back-end/sports_platform/sports_platform_api/tests/test_participation.py
  back-end/sports_platform/sports_platform_api/views/event_views.py
Labels: Platform: Back-end, Priority: Low, Status: Waiting Review

#423 Delete event badge
  back-end/sports_platform/sports_platform_api/tests/test_badge.py
  back-end/sports_platform/sports_platform_api/views/event_views.py
Labels: Platform: Back-end, Priority: Low, Status: Waiting Review

#417 Android event search filters implemented
  android/AndroidSportsPlatform/app/src/debug/res/values/google_maps_api.xml
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/MVVMApplication.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/activities/MapsActivity.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/adapter/EventsListAdapter.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/data/api/SportApi.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/data/models/requests/EventFilterRequest.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/data/models/responses/SportsResponse.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/data/repository/SportRepository.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/fragments/EventSearchFragment.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/fragments/SearchFragment.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/util/Gson.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/viewmodelfactories/SearchViewModelFactory.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/viewmodels/EventSearchViewModel.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/viewmodels/SearchViewModel.kt
  android/AndroidSportsPlatform/app/src/main/res/layout/fragment_search.xml
  android/AndroidSportsPlatform/app/src/main/res/layout/item_event_layout.xml
  android/AndroidSportsPlatform/app/src/main/res/values/strings.xml
  android/AndroidSportsPlatform/app/src/release/res/values/google_maps_api.xml
Labels: Type: Feature, Status: Complete, Platform: Mobile, Priority: High

#420 Open new equipment page
  front-end/playground/package-lock.json
  front-end/playground/src/App.js
  front-end/playground/src/pages/EquipmentInformation/EquipmentInformation.css
  front-end/playground/src/pages/EquipmentInformation/EquipmentInformation.js
  front-end/playground/src/pages/EquipmentInformation/EquipmentInformationFunctional.js
  front-end/playground/src/pages/NewEquipment/NewEquipment.css
  front-end/playground/src/pages/NewEquipment/NewEquipment.js
  front-end/playground/src/pages/NewEvent/NewEvent.js
  front-end/playground/src/pages/NewField/NewField.css
  front-end/playground/src/pages/NewField/NewField.js
  front-end/playground/src/pages/SearchEquipment/EquipmentInfo.css
  front-end/playground/src/pages/SearchEquipment/EquipmentInfo.js
  front-end/playground/src/pages/SearchEquipment/SearchEquipment.css
  front-end/playground/src/pages/SearchEquipment/SearchEquipment.js
  front-end/playground/src/pages/SearchField/FieldInfo.css
  front-end/playground/src/pages/SearchField/FieldInfo.js
  front-end/playground/src/pages/SearchField/SearchField.css
  front-end/playground/src/pages/SearchField/SearchField.js
  front-end/playground/yarn.lock
Labels: Type: Task, Status: In Progress, Platform: Front-end, Priority: High

#411 Equipment
  back-end/sports_platform/sports_platform_api/models/__init__.py
  back-end/sports_platform/sports_platform_api/models/equipment_models.py
  back-end/sports_platform/sports_platform_api/tests/test_create_equipment.py
  back-end/sports_platform/sports_platform_api/tests/test_equipment_discussion.py
  back-end/sports_platform/sports_platform_api/tests/test_equipment_search.py
  back-end/sports_platform/sports_platform_api/urls.py
  back-end/sports_platform/sports_platform_api/validation/equipment_validation.py
  back-end/sports_platform/sports_platform_api/views/__init__.py
  back-end/sports_platform/sports_platform_api/views/equipment_views.py
Labels: Type: Feature, Platform: Back-end, Status: Waiting Review

#425 Sport Specific Badges
  back-end/sports_platform/manage.py
  back-end/sports_platform/sports_platform_api/data/badges.py
  back-end/sports_platform/sports_platform_api/models/badge_models.py
  back-end/sports_platform/sports_platform_api/models/event_models.py
  back-end/sports_platform/sports_platform_api/models/user_models.py
  back-end/sports_platform/sports_platform_api/tests/test_badge.py
  back-end/sports_platform/sports_platform_api/urls.py
  back-end/sports_platform/sports_platform_api/views/badge_views.py
Labels: Platform: Back-end, Priority: Low, Status: Waiting Review

#428 Android user search implementation is done.
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/MVVMApplication.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/adapter/UserListAdapter.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/data/api/UserApi.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/data/models/requests/UserDetailRequest.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/data/models/requests/UserSearchRequest.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/data/repository/UserRepository.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/fragments/SearchFragment.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/fragments/UserDetailFragment.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/fragments/UserSearchFragment.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/viewmodelfactories/UserDetailViewModelFactory.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/viewmodels/AuthViewModel.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/viewmodels/ProfileFragmentViewModel.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/viewmodels/SearchViewModel.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/viewmodels/UserDetailViewModel.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/viewmodels/UserSearchViewModel.kt
  android/AndroidSportsPlatform/app/src/main/res/layout/fragment_detailed_user.xml
  android/AndroidSportsPlatform/app/src/main/res/layout/item_searched_user_layout.xml
Labels: Type: Feature, Platform: Mobile, Status: Waiting Review

#431 Some styling changes like adding different links has been made.
  front-end/playground/src/PermanentComponents/Header.js
Labels: Type: Task, Status: In Progress, Platform: Front-end, Priority: High

#432 Pages related with equipments has been prepared
  front-end/playground/src/pages/EquipmentInformation/EquipmentInformation.js
  front-end/playground/src/pages/NewEquipment/NewEquipment.js
  front-end/playground/src/pages/SearchEquipment/EquipmentInfo.css
  front-end/playground/src/pages/SearchEquipment/EquipmentInfo.js
  front-end/playground/src/pages/SearchEquipment/SearchEquipment.js
  front-end/playground/src/pages/SearchPage/SearchPage.js
Labels: Type: Task, Status: In Progress, Platform: Front-end, Priority: High

#435 Bugs related with open a new equipment and view equipment were fixed.
  front-end/playground/src/pages/EquipmentInformation/EquipmentInformation.js
  front-end/playground/src/pages/NewEquipment/NewEquipment.js
Labels: Type: Task, Status: Not Yet Started, Platform: Front-end, Priority: Medium

#436 Sport specific badge options have been changed.
  front-end/playground/src/pages/NewEvent/NewEvent.js
Labels: Type: Task, Status: In Progress, Platform: Front-end, Priority: Medium

#438 Android user detailed page is done.
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/adapter/UserBadgesAdapter.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/data/models/AdditionalPropertyBadge.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/data/models/AdditionalPropertyBadgeGivenBy.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/data/models/Badge.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/data/models/ValueBadge.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/data/models/responses/GetBadgeResponse.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/fragments/CreateEventFragment.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/fragments/ProfileFragment.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/fragments/UserDetailFragment.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/viewmodelfactories/CreateEventViewModelFactory.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/viewmodelfactories/ProfileFragmentViewModelFactory.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/viewmodels/UserDetailViewModel.kt
  android/AndroidSportsPlatform/app/src/main/res/layout/fragment_detailed_user.xml
Labels: Platform: Mobile, Priority: High, Status: Waiting Review

#439 Android event badges
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/MVVMApplication.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/adapter/EventBadgesAdapter.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/data/api/BadgeApi.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/data/api/EventApi.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/data/models/requests/AddBadgeToEventRequest.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/data/models/responses/BadgesResponse.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/data/models/responses/CreateEventResponse.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/data/models/responses/GetEventBadgesResponse.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/data/repository/BadgeRepository.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/data/repository/EventRepository.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/fragments/AddEventBadgeFragment.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/fragments/CreateEventFragment.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/fragments/EventDetailFragment.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/util/String.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/viewmodelfactories/AddEventBadgeViewModelFactory.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/viewmodelfactories/CreateEventViewModelFactory.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/viewmodels/AddEventBadgeViewModel.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/viewmodels/CreateEventViewModel.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/viewmodels/EventDetailViewModel.kt
  android/AndroidSportsPlatform/app/src/main/res/layout/fragment_add_event_badge.xml
  android/AndroidSportsPlatform/app/src/main/res/layout/fragment_create_event.xml
  android/AndroidSportsPlatform/app/src/main/res/layout/fragment_event_detail.xml
  android/AndroidSportsPlatform/app/src/main/res/layout/item_event_badges_layout.xml
  android/AndroidSportsPlatform/app/src/main/res/values/strings.xml
Labels: Type: Feature, Status: Complete, Platform: Mobile, Priority: High

#440 Android badge implementation completed.
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/fragments/UserDetailFragment.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/viewmodels/UserDetailViewModel.kt
Labels: Platform: Mobile, Priority: Medium, Status: Waiting Review

#444 Android - User Updating Profile feature is implemented
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/data/api/UserApi.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/data/models/requests/UserUpdateRequest.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/data/repository/UserRepository.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/fragments/ProfileFragment.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/viewmodels/ProfileFragmentViewModel.kt
  android/AndroidSportsPlatform/app/src/main/res/layout/fragment_profile.xml
Labels: Platform: Mobile, Priority: Medium, Status: Waiting Review

#445 Android delete event
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/data/api/EventApi.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/data/repository/EventRepository.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/fragments/EventDetailFragment.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/util/Popup.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/viewmodels/CreateEventViewModel.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/viewmodels/EventDetailViewModel.kt
  android/AndroidSportsPlatform/app/src/main/res/layout/fragment_event_detail.xml
  android/AndroidSportsPlatform/app/src/main/res/layout/item_popup_layout.xml
  android/AndroidSportsPlatform/app/src/main/res/values/strings.xml
Labels: Type: Feature, Status: Complete, Platform: Mobile, Priority: High

#448 Android - Error handling in API call responses
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/data/api/EventApi.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/data/api/SportApi.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/data/api/UserApi.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/util/ErrorInterceptor.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/viewmodels/AuthViewModel.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/viewmodels/CreateEventViewModel.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/viewmodels/EventDetailViewModel.kt
Labels: Type: Feature, Status: Complete, Platform: Mobile, Priority: Low

#450 Event creator badges
  back-end/sports_platform/sports_platform_api/data/badges.py
  back-end/sports_platform/sports_platform_api/models/event_models.py
  back-end/sports_platform/sports_platform_api/models/user_models.py
Labels: Platform: Back-end, Priority: Low, Status: Waiting Review

#455 Bug in get user badges endpoint
  back-end/sports_platform/sports_platform_api/views/user_views.py
Labels: Platform: Back-end, Priority: Low, Status: Waiting Review

#459 notification page implemented
  front-end/playground/src/pages/Notifications/index.js
  front-end/playground/src/pages/Notifications/style.css
Labels: Priority: High

#461 Ultimate Frisbee game has been added to the system.
  front-end/playground/src/pages/NewEquipment/NewEquipment.js
  front-end/playground/src/pages/NewEvent/NewEvent.js
  front-end/playground/src/pages/SearchEquipment/SearchEquipment.js
  front-end/playground/src/pages/SearchPage/SearchPage.js
Labels: Type: Task, Status: In Progress, Platform: Front-end, Priority: High

#458 Android add map to event detail page
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/activities/MapsActivity.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/data/models/GeoCoordinates.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/fragments/CreateEventFragment.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/fragments/EventDetailFragment.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/fragments/SearchFragment.kt
  android/AndroidSportsPlatform/app/src/main/res/layout/fragment_event_detail.xml
  android/AndroidSportsPlatform/app/src/main/res/values/strings.xml
Labels: Type: Feature, Status: Complete, Platform: Mobile, Priority: Medium

#465 Android - User Unfollowing operation is implemented
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/data/api/UserApi.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/data/models/requests/UserUnFollowingRequest.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/data/repository/UserRepository.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/fragments/UserDetailFragment.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/viewmodels/UserDetailViewModel.kt
  android/AndroidSportsPlatform/app/src/main/res/layout/fragment_detailed_user.xml
  android/AndroidSportsPlatform/app/src/main/res/values/strings.xml
Labels: Type: Feature, Platform: Mobile, Priority: Medium, Status: Waiting Review

#464 Android - User Profile Deleting operation is implemented
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/data/api/UserApi.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/data/repository/UserRepository.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/fragments/ProfileFragment.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/viewmodels/ProfileFragmentViewModel.kt
  android/AndroidSportsPlatform/app/src/main/java/com/example/sportsplatform/viewmodels/RegisterViewModel.kt
  android/AndroidSportsPlatform/app/src/main/res/layout/fragment_profile.xml
  android/AndroidSportsPlatform/app/src/main/res/values/strings.xml
Labels: Platform: Mobile, Priority: Medium, Status: Waiting Review
